apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ml-project
  namespace: argocd
spec:
  project: default

  source:
    repoURL: 'https://github.com/famandao/ml_project.git'
    targetRevision: HEAD
    path: .
  
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: devops

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
